<h3>商品一覧</h3>




<table>
    <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
    </tr>

<% @items.each do |f| %>
    <tr>
        <td>
            <%= f.id %>
        </td>
        <td>
            <%= f.name %>
        </td>
        <td>
            <%= f.price %>
        </td>
        <td>
            <%= f.genre.name %>
        </td>
        <td>
            <% if f.is_active == true %>
             <h5 class="text-success">販売中</h5>
            <% else %>
             <h5 class="text-muted">販売停止中</h5>
            <% end %>
        </td>
    </tr>
<% end %>
</table>